<div style="display: flex; align-items: center;">
  <img src="{{ base_url }}/logo.svg" width="50" height="50">
  <p style="font-size: 20px; font-weight: bolder; margin-left: 10px">Energy Monitor</p>
</div>

<h2 style="margin-top: 20px;">Alert triggered</h2>

<p>Hey {{ user.first_name }} {{ user.last_name }} </p>
<p><a href="{{ base_url }}/dash/alerts/{{ alert._id }}">New Triggered Alert</a> for device {{alert.device.name}} : </p>

<p style="margin: 20px 0;">  {{ triggered_alert.value }} {{ triggered_alert.alert.if.condition }} {{ triggered_alert.alert.if.value }} </p>

<p>If you did not request this email you can safely ignore it.</p>
