
<p>Hey {{ triggered_alert.alert.user.first_name }} {{ triggered_alert.alert.user.last_name }} </p>
<p>New Triggered Alert</p>
<p> {{ triggered_alert.value }} {{ triggered_alert.alert.if.condition }} {{ triggered_alert.alert.if.value }} </p>

<p>If you did not request this email you can safely ignore it.</p>
